services:
  feedrv3:
    build:
      context: .
      args:
        TARGET: x86_64-unknown-linux-musl
    environment:
      CONFIG_PATH: /app/res/docker.toml
      FEEDS_DIR: /app/res/feeds
    volumes:
      - ./res:/app/res:ro
    ports:
      - "9898:9898"
    networks:
      - services

networks:
  services:
    external: true
